{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<style>
    .placeholder{ color: #999999; font-style: italic; }
</style>

<div>
    <h1>{{ slug }}</h1>
    <p class="placeholder">[Ajouter une liste ici]</a>
</div>

{% endblock %}
