{% extends 'base.html.twig' %}

{% block title %}Amphithéâtre Audito{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="css/homepage.css">

<div class="header">
    <h1>Audito</h1>
</div>

<section class="event-types">
    <h2>Trouver un événement</h2>
    <div class="one-event"><a href="/events/spectacles">SPECTACLES</a></div>
    <div class="one-event"><a href="/events/cinema">CINÉMA</a></div>
    <div class="one-event"><a href="/events/theatre">THÉÂTRE</a></div>
    <div class="one-event"><a href="/events/autre">UN AUTRE TRUC</a></div>
</scetion>

{% endblock %}
