{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .html { margin:0px; font: 18px/1.5 sans-serif; }
    .header h1 { text-align:center; border-bottom: solid 3px black; }
</style>

<div class="html">
    <div class="header">
        <h1>Audito</h1>
    </div>

    <div class="body">
        <p>[Remplacer ce txt par quelque chose de plus utile]</p>
    </div>

</div>
{% endblock %}
