{% extends 'base.html.twig' %}

{% block title %}Amphithéâtre Audito{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="css/homepage.css">

<div class="header">
    <h1>Audito</h1>
</div>

<section class="event-types">
    <h2>Trouver un événement</h2>    
    <div class="one-event"><a href="/events/theatre">THÉÂTRE</a></div>
    <div class="one-event"><a href="/events/musique">MUSIQUE</a></div>
    <div class="one-event"><a href="/events/danse">DANSE</a></div>
    <div class="one-event"><a href="/events/cinema">CINÉMA</a></div>
    <div class="one-event"><a href="/events/divers">DIVERS</a></div>
    <h2 id="or">ou</h2>
    <div class="one-event"><a href="/events">AFFICHER LA LISTE COMPLÈTE</a></div>
</scetion>

{% endblock %}
