* {
    margin: 0px;
    padding: 0px;
    font: 18px/1.5 sans-serif;
}

h1 {
    font-size: 32pt;
    text-align: center;
    border-bottom: solid 3px black;
    margin-bottom: 45px;
}

form {
    display: block;
    text-align: center;
}

input {
    margin-bottom: 5px;
}

.alert {
    font-size: 12pt;
    font-style: italic;
    color:red;
}

.register {
    margin-top: 20px;
}

.register-btn {
    padding: 2px 7px 2px 7px;
    border: solid 2px black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}