{% extends 'base.html.twig' %}

{% block title %}Ajout d'un spectacle{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/samplepage.css">
<link rel="stylesheet" type="text/css" href="/css/splist.css">

<section class="header">
    <h1>Audito</h1>
</section>

<div>
    <div class="sp-list">
        <h1>Liste des spectacles ({{ len }} trouvés)</h1>
        {% if len > 0 %}
            {% for s in sp %}
                <div class="one-spec">
                    <img src="{{ s.image }}"/>
                    <h2>{{ s.nomSpectacle }}</h2>
                    <p>{{ s.typeSpectacle.libelleType }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="error">Il n'y a rien à afficher ici.</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
