{% extends 'base.html.twig' %}

{% block title %}Ajout d'un spectacle{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/samplepage.css">
<link rel="stylesheet" type="text/css" href="/css/spadd.css">

<section class="header">
    <h1>Audito</h1>
</section>

<div>
    <form action="{{ url('spectacle_adminadd', {xpr:"test form redirect"}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('spec-token') }}"/>

        <div>
            <label>Nom du spectacle : </label>
            <input type="text" name="sp_name"/>
        </div>

        <div>
            <p>Description : </p>
            <textarea name="sp_desc" rows="3" columns="50" maxlength="512"></textarea>
        </div>

        <div>
            <label>Type de spectacle : </label>
            <select name="sp_type">
                <option value="none">Choisir...</option>
                {% for sp in tsp %}
                    <option value="{{ sp.id }}">{{ sp.libelletype }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>URL de l'affiche : </label>
            <input type="text" name="sp_url"/><br/>
        </div>

        <div>
            <input type="checkbox" name="sp_scenemod"/>
            <label>Modulation de scène</label>
        </div>

        <div>
            <input type="submit"/>
        </div>
    </form>
</div>

{% endblock %}