{% extends 'base.html.twig' %}

{% block title %}Ajout d'un spectacle{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/samplepage.css">
<link rel="stylesheet" type="text/css" href="/css/splist.css">

<section class="header">
    <h1>Audito</h1>
</section>

<div>
    {% if admin %}
        <div class="sp-list">
            <h1>Liste des spectacles ({{ len }} trouvés)</h1>
            {% if len > 0 %}
                {# Display some info #}
            {% else %}
                <h3 class="error">Il n'y a rien à afficher ici.</h3>
            {% endif %}
        </div>
    {% else %}
        <div class="error">
            <h1>❌ Accès refusé.</h1>
            <h3>Les droits d'administrateur sont requis pour accéder à cette page.</h3>
        </div>
    {% endif %}
</div>

{% endblock %}
