{% extends 'base.html.twig' %}

{% block title %}Ajout d'un spectacle{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="/css/samplepage.css">
<link rel="stylesheet" type="text/css" href="/css/spadd.css">

<section class="header">
    <h1>Audito</h1>
</section>

<div>
    <h1>Add form </h1>
</div>

{% endblock %}